@use "../abs/ff" as *;
@use "../abs/fw" as *;
@use "../abs/fs" as *;
@use "../abs/mixin" as *;

:root {
  --grid-max-width: 126rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem)
  );
  --grid-columns: 12;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.m-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.m-grid {
  display: grid;
  gap: var(--grid-gutter);
}

@each $name, $value in $ff {
  .ff-#{$name} {
    font-family: "#{$value}", serif;
  }
}

@each $name, $weights in $fw {
  @each $weight, $value in $weights {
    .fw-#{$name}--#{$weight} {
      font-weight: $value;
    }
  }
}

@each $name, $fonts in $fs {
  @each $font, $value in $fonts {
    .fs-#{$name}--#{$font} {
      font-size: $value;
    }
  }
}
