@use "../abs/mixin" as *;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: rgba(27, 38, 50, 0.2);
    backdrop-filter: blur(10px);

    width: 100%;
    height: 100vh;

    @include flexRowCr(center, center);


    &__content {
        width: 80%;
        height: 75%;

        @include flexRowCr(baseline, center);

        &--imgMain {
            width: 100%;
            height: 88%;
        }

        &--slider {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--sliders {
            position: relative;
            height: 100%;
        }

        &--img {
            width: 100%;
            height: 65vh;
        }
    }
}

.numberText {
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail {
    @include flexRowCr();

    &__content {
        height: 100%;
    }
}

.thumbnail__content--img {
    height: 15vh;
}

.thumbnail__content--img:hover {
    opacity: 0.6;
    cursor: pointer;
}
